.App {
  overflow: hidden;
  font-family: 'Michroma', sans-serif;
  margin: 0 auto;
  text-align: center;
} 
.datePicker{
	 margin-left: 42%; 
	 margin-bottom: 1%;
	 display:block;
	 width: 200px;
    /* margin-bottom: 2%; */
}
.react-datepicker__input-container input {
  margin:15px 0;
	padding:15px 10px;
	width:20%;
	outline:none;
	border:1px solid #bbb;
	border-radius:20px;
	display:inline-block;
}

@media only screen and (max-width: 600px){
	.datePicker{
	margin-left: 21%;
	}
}