body {
  margin:0  auto;
  background-image: url('./galaxy.jpg') ;
  background-repeat: none;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@media only screen and (max-width:415px){
  body{
    background-image: url('/src/galaxy-mobile.jpeg');
    background-size: contain;
  }

  }