body {
  margin:0  auto;
  background-image: url('./galaxy.jpg') ;
  background-repeat: none;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
