body {
  margin: 0;
  background-image: url('https://res.cloudinary.com/mosesjayz/image/upload/v1641999103/spacestagram/pexels-alberlan-barros-7311920_e9iv0i.jpg');
  background-repeat: none;
  background-size: cover;
  margin:0  auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
